<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="system.adoption.saadoptionsystem">
    <application
        android:label="SAAdoption"
        android:icon="@mipmap/ic_launcher">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    </application>
</manifest>
